@import url("https://use.typekit.net/nrk5nju.css");

#finder_body {
  margin: 0 auto;
  max-width: 800px;
  color: #016F7F;
  font-family: 'Calibri';
  font-weight: 500;
  letter-spacing: 0.01em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FFEED4;
}

a, a:hover, a:focus {
  color: #016F7F;
}

#finder_content {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 25.875em) {
  #finder_content {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 59.375em) {
  #finder_content {
    padding-left: 44px;
    padding-right: 44px;
    border: 1px solid #016F7F;
  }
}

@media screen and (min-width: 64.0625em) {
  #finder_content {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media screen and (min-width: 71.875em) {
  #finder_content {
    padding-left: 100px;
    padding-right: 100px;
  }
}

#finder_tab_nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px 0;
  border-bottom: none;
  font-weight: 700;
  line-height: 1;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-style: normal;
}

#finder_tab_nav:before,
#finder_tab_nav:after {
  display: none;
}

#finder_tab_nav > li {
  float: none;
  margin: 0;
  padding: 0 8px;
}

@media screen and (min-width: 37.5em) {
  #finder_tab_nav > li {
    padding: 0 21px;
  }
}

#finder_tab_nav > li > a {
  padding: 3px 0;
  line-height: 1.6;
  color: #016F7F;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: inset 0 -1px 0 #016F7F;
  box-shadow: inset 0 -1px 0 #016F7F;
}

#finder_tab_nav > li > a:hover,
#finder_tab_nav > li > a:focus {
  font-style: italic;
}

#finder_tab_nav > li.disabled > a,
#finder_tab_nav > li.disabled > a:hover,
#finder_tab_nav > li.disabled > a:focus {
  -webkit-box-shadow: inset 0 -1px 0 rgba(26, 26, 26, 0.5);
  box-shadow: inset 0 -1px 0 rgba(26, 26, 26, 0.5);
  color: rgba(26, 26, 26, 0.5);
  font-style: normal;
}

#finder_tab_nav > li.active > a {
  font-style: italic;
}

#tab-form,
#vipcopyright {
  width: 100%;
}

#finder_form .panel {
  margin: 0 auto;
  background: #FFEED4;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#finder_form .panel-body {
  padding: 0;
}

#finder_form .panel-footer {
  padding: 0;
  background: none;
  font: 500 12px/1.5 'Calibri' !important;
  letter-spacing: 0.01em !important;
  color: #016F7F !important;
}

#finder_form .panel-footer:not(#finder_disclaimer) {
  margin: 30px 0 15px;
  padding: 0;
}

#finder_form .panel-footer:not(#finder_disclaimer) img {
  display: none;
}

#finder_form #finder_disclaimer {
  margin-top: 20px;
  text-align: center;
}

#finder_form #finder_disclaimer em {
  font-style: normal;
}

#finder_map_paging {
  position: static;
  display: block;
  text-align: left;
}

#finder_results_body,
#tab-list {
  border: 1px solid #016F7F;
}

#finder .form-group {
  position: relative;
  margin: 0;
}

#form-group-BFCAT3 {
  display: none;
}

#form-group-BFCAT1 {
  display: none;
}

#finder .form-group + .form-group:not(.hidden):not(.alert) {
  border-top: 1px solid #016F7F;
}

#finder .control-label {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0;
  width: auto;
  font-weight: 700;
  line-height: 1;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-align: left;
}

#finder .control-label::after {
  content: none;
}

#finder .finder_form_right {
  padding: 0 0 0 100px;
  width: 100%;
  text-align: center;
}

#finder .form-control,
#finder .finder_form_right strong {
  display: block;
  height: 40px;
  padding: 8px 18px 8px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  border: none;
}

#finder .form-control:focus,
#finder .finder_form_right strong:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #016F7F;
}

#finder .btn {
  background-color: #016F7F; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font: 700 14px/1 'Calibri';
  color: #FFFFFF;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#finder_body .pagination > li > a {
  margin-top: 15px;
}

#finder .alert {
  color: #016F7F;
  background: none;
  text-align: center;
}

#finder_results_body .row {
  margin: 0;
}

#finder_form #tab-list {
  margin-bottom: 40px;
}

#finder_form #tab-list .panel-body > .panel {
  padding: 15px 20px;
  border-bottom: 2px solid #016F7F;
}

#finder_form #tab-list .panel-body > .panel:last-child {
  border: none;
}

#finder_form #tab-list .panel-heading {
  padding: 0 0 6px;
  background: none;
  color: #016F7F;
}

#finder_form #tab-list .finder_dba {
  font-size: 18px;
  font-weight: 700;
}

#finder_form #tab-list .finder_num {
  margin-right: 2px;
  padding: 0;
  background: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #1
}  
